<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="./index.css"/>
<script src="./storage.js"></script>

<body>
  <a href="./index.html"><button>BACK</button></a>
  <table>
    <thead><tr><td>http2osc_address</td><td>osc2midi_address</td><td>actions</td></tr></thead>
    <tbody></tbody>
  </table>
</body>

<script>
function onSelect (e) {
  const tr = e.target.parentNode.parentNode;
  const http2osc_address = tr.children[0].innerHTML;
  const osc2midi_address = tr.children[1].innerHTML;
  selected = { http2osc_address, osc2midi_address };
  saveStorage();
  window.location = './index.html';
}

function onDelete (e) {
  const tr = e.target.parentNode.parentNode;
  const _http2osc_address = tr.children[0].innerHTML;
  const _osc2midi_address = tr.children[1].innerHTML;
  history = history.filter(({ http2osc_address, osc2midi_address }) =>
    !(http2osc_address === _http2osc_address && osc2midi_address === _osc2midi_address));
  saveStorage();
  window.location.reload();
}

function initialize () {
  const tbody = document.querySelector('tbody');
  history.forEach((entry) => {
    const tr = document.createElement('tr');
    tr.innerHTML =
      `
      <tr>
        <td>${entry.http2osc_address}</td>
        <td>${entry.osc2midi_address}</td>
        <td>
          <button class="select-button">SELECT</button>
          <button class="delete-button">DELETE</button>
        </td>
      </tr>
      `;
    tbody.appendChild(tr);
  });

  Array.from(document.querySelectorAll('.select-button')).forEach((key) => {
    key.addEventListener('click', onSelect);
  });
  Array.from(document.querySelectorAll('.delete-button')).forEach((key) => {
    key.addEventListener('click', onDelete);
  });
}

initialize();
</script>
