/* basic setup */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 0.625em;
  height: 100%;
}


/* Style our parts */
body {
  height: 100%;
  font-size: 1.6rem;
}

.container {
  height: 100%;
}

.settings {
  height: 20%;
  overflow-y: scroll;
}

.keyboard {
  height: 80%;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.key {
}

.key--pressed {
  background-color: pink !important;
}

.key-white {
  flex: 1 0 0;
  width: 100px;
  height: 100%;
  border: 1px solid #aaa;

  position: relative;
  overflow-x: visible;
}

.key-black {
  z-index: 1;
  position: absolute;
  height: 70%;
  width: 90%;
  left: 55%;
  background-color: #ccc;
}
