<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="./index.css"/>
<script src="./storage.js"></script>

<body>
  <div class="container">
    <div class="settings">
      <label>
        <span>http2osc proxy url</span>
        <input id="http2osc_address" value="http://localhost:5000"/>
      </label>
      <label>
        <span>liblo url</span>
        <input id="osc2midi_address" value="osc.udp://localhost:57120"/>
      </label>
      <label>
        <span>UI mode</span>
        <select id="ui_mode">
          <option value="mouse">Mouse</option>
          <option value="touch" selected="">Touch</option>
        </select>
      </label>
      <!-- <label>
        <span>start note</span>
        <input id="start_note" value="48"/>
      </label>
      <label>
        <span>key end</span>
        <input id="end_note" value="72"/>
      </label> -->
      <button id="save-button">SAVE</button>
      <a href="./history.html"><button>HISTORY</button></a>
    </div>
    <div class="keyboard">
    </div>
  </div>
  <script src="./index.js"></script>
</body>
